<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @waiter.id %>
</p>

<p>
  <b>Integer:</b>
  <%= @waiter.integer %>
</p>

<p>
  <b>Name:</b>
  <%= @waiter.name %>
</p>

<p>
  <b>Login:</b>
  <%= @waiter.login %>
</p>

<p>
  <b>Password:</b>
  <%= @waiter.password %>
</p>


<%= link_to 'Edit', edit_waiter_path(@waiter) %> |
<%= link_to 'Back', waiters_path %>
